<p>add-album works!</p>

<div class="container-sm p-3">
        <!-- stockage de toutes les données dans le formulaire -->
        <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" formControlName="name" class="form-control" id="name"
                                placeholder="Enter name please">
                        <div *ngIf="name?.invalid && name?.touched" class="alert alert-danger">
                                <p *ngIf="name?.errors?.['required']"> Ce champs est fondamentalement requis </p>
                                <p *ngIf="name?.errors?.['minlength']"> Ce champs doit avoir une longueur minimale de
                                        {{name?.errors?.['minlength']?.requiredLength}} caractères. </p>
                        </div>
                </div>

                <div class="form-group">
                        <label for="title">Title: </label>
                        <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
                        <div *ngIf="title?.invalid && title?.touched" class="alert alert-danger">
                                <p *ngIf="title?.errors?.['required']"> Ce champs est fondamentalement requis </p>
                        </div>
                </div>

                <div class="form-group">
                        <label for="ref">Ref: </label>
                        <input formControlName="ref" type="text" class="form-control" id="ref" placeholder="Ref">
                        <div *ngIf="ref?.invalid && ref?.touched" class="alert alert-danger">
                                <p *ngIf="ref?.errors?.['required']"> Ce champs est fondamentalement requis </p>
                                <p *ngIf="ref?.errors?.['pattern']"> Ce champs doit le format d'expression régulière
                                        <strong><em>{{ref?.errors?.['pattern']?.requiredpattern}}</em></strong> <a
                                                href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Guide/Regular_expressions"
                                                target="_blank">En savoir plus sur les expression régulière</a>
                                </p>
                                <p>{{ref?.errors | json }} </p>
                        </div>
                </div>

                <div class="form-group">
                        <label for="Duration">Duration :</label>
                        <input formControlName="duration" type="text" class="form-control" id="Duration"
                                placeholder="Duration">
                        <div *ngIf="duration?.invalid && duration?.touched" class="alert alert-danger">
                                <p *ngIf="duration?.errors?.['required']"> Ce champs est fondamentalement requis </p>
                                <p *ngIf="duration?.errors?.['max']"> La valeur saisie ne doit pas être supérieure à
                                        {{duration?.errors?.['max']?.requiredLength}} caractères. </p>
                                <p>{{duration?.errors | json }} </p>

                        </div>
                </div>

                <div class="form-group">
                        <label for="Description">Description : </label> <br>
                        <textarea formControlName="description" name="texte" id="Description" class="form-control"
                                rows="6"></textarea>
                        <div *ngIf="description?.invalid && description?.touched" class="alert alert-danger">
                                <p *ngIf="description?.errors?.['required']"> Ce champs est fondamentalement requis </p>
                        </div>
                </div>
                <div class="form-group mt-5" formArrayName="tags">
                        <h2>Etiquettes de l'albums</h2>
                        <button type="button" (click)="addtag()" class="btn btn-primary"> + Ajouter une
                                étiquette</button>
                        <br>
                        <div *ngFor="let tag of tags.controls; let i = index">
                                <label for="tags-{{ i }}">Tags : </label> <br>
                                <input [formControlName]="i" type="text" id="tags-{{ i }}" class="form-control"
                                        style="width: 250px">
                        </div>
                </div>
                <br>
                <button type="submit" [disabled]="albumForm.invalid" class="btn btn-primary mb-2 mt-2">Add
                        album</button>
        </form>
</div>