<p>add-album works!</p>

<div class="container-sm">
    <form action="">
        <div class="form-group"><label for="name">Name: </label><input type="text" class="form-control" id="name"
                placeholder="Enter name please"></div>
        <div class="form-group"><label for="title">Title: </label><input type="text" class="form-control" id="title"
                placeholder="Title"></div>
        <div class="form-group"><label for="ref">Ref: </label><input type="text" class="form-control" id="ref"
                placeholder="Ref"></div>
        <div class="form-group"><label for="Duration">Duration :</label><input type="text" class="form-control"
                id="Duration" placeholder="Duration"></div>
        <div class="form-group"><label for="Description">Description : </label> <br><textarea name="texte"
                id="Description" cols="" rows="6"></textarea></div>
        <button class="btn btn-primary mb-2 ">Add album</button>
    </form>
</div>