/* You can add global styles to this file, and also import other style files */
.mybody{
    background-image: url("../../../Dossier_img/WALLPAPER-master/WP6/051123Webshots05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }