/* You can add global styles to this file, and also import other style files */
.mybody{
    background-image: url("../src/assets/album_img/01510_sunsetbeach_1280x800.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }